body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.block {
    pointer-events: none;
    filter: contrast(0.3);
}

.App {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.bottom-controls {
    align-items: flex-end !important;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.bottom-controls a {
    color: red;
}

.true-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-controls div {
    background-color: black;
    color: white;
    width: 42px;
    height: 42px;
}