.slide {
    position: absolute;
    width: 100%;
    top: 0vh;
    height: 100vh;
    opacity: 1;
}

#road {
    width: 100vw;
    max-height: 411px;
}

#car {
    width: 300px;
    position: absolute;
    top: 300px;
}

.commands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.commands>div>button {
    padding: 10px;
    border: unset;
}

#throttle {
    background-color: greenyellow;
}

#break {
    background-color: orangered
}

.gearbox {
    background-color: grey;
    border-radius: 10px;
    padding: 10PX;
    width: 111px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gearbox button {
    padding: 10px;
    border-radius: 11px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.commands>:last-child span {
    cursor: pointer;
    background-color: black;
    color: white;
}

button {
    cursor: pointer;
}